// Custom styles.
pre,
.highlight {
  overflow: auto;
  margin: 20px 0;
  padding: 0;
  font-size: 13px;
  color: #c5c8c6;
  background: #1d1f21;
  line-height: 1.6;
}
pre,
code {
  font-family: consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;
}
code {
  padding: 2px 4px;
  word-wrap: break-word;
  color: #555;
  background: #eee;
  border-radius: 3px;
  font-size: 13px;
}
pre code {
  padding: 0;
  color: #c5c8c6;
  background: none;
  text-shadow: none;
}
.highlight {
  border-radius: 1px;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 10px 0;
}
.highlight table {
  margin: 0;
  width: auto;
  border: none;
}
.highlight td {
  border: none;
  padding: 0;
}
.highlight figcaption {
  font-size: 1em;
  color: #c5c8c6;
  line-height: 1em;
  margin-bottom: 1em;
}
.highlight figcaption:before,
.highlight figcaption:after {
  content: " ";
  display: table;
}
.highlight figcaption:after {
  clear: both;
}
.highlight figcaption a {
  float: right;
  color: #c5c8c6;
}
.highlight figcaption a:hover {
  border-bottom-color: #c5c8c6;
}
.highlight .gutter pre {
  padding-left: 10px;
  padding-right: 10px;
  color: #888f96;
  text-align: right;
  background-color: #000;
}
.highlight .code pre {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #1d1f21;
}
.highlight .line {
  height: 20px;
}
.gutter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gist table {
  width: auto;
}
.gist table td {
  border: none;
}
pre .deletion {
  background: #008000;
}
pre .addition {
  background: #800000;
}
pre .meta {
  color: #b294bb;
}
pre .comment {
  color: #969896;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c66;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant,
pre .command {
  color: #de935f;
}
pre .ruby .class .title,
pre .css .rules .attribute,
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata,
pre .special,
pre .number,
pre .formula {
  color: #b5bd68;
}
pre .title,
pre .css .hexcolor {
  color: #8abeb7;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #81a2be;
}
pre .keyword,
pre .javascript .function {
  color: #b294bb;
}



.header-inner {
    padding-top: 0px;
    padding-bottom: 0px;
}
.posts-expand {
    padding-top: 10px;
}
.posts-expand .post-meta {
    margin: 5px 0px 20px 0px;
}
.post-button {
    margin-top: 0px;
}
.post-body {
  //margin: 0px -20px 20px;
}
.post-block{
    padding-bottom: 20px;
    margin: 60px -28px 20px;
    //box-shadow: 0 24px 0 #eee;
    box-shadow: 0px 20px 0px 0px #f5f7f9;
}
.posts-expand .post-eof {
    margin: 0px;
    background-color: rgba(255, 255, 255, 0);
}

hr{
    margin: 20px 0;
}



//文章导航
#container .show-toc-btn, #container .toc-article {
    display: block
}

.toc-article {
    z-index: 100;
    background: #fff;
    border: 1px solid #ccc;
    //max-width: 240px;
    //min-width: 160px;
    //max-height: 300px;
    //overflow-y: auto;
    -webkit-box-shadow: 5px 5px 2px #ccc;
    box-shadow: 5px 5px 2px #ccc;
    font-size: 12px;
    padding: 5px;
    position: fixed;
	right: 1px;
	top: 240px;
	//bottom: 100px;
}

#toc-article .toc {
    max-width: 360px;
    min-width: 180px;
    max-height: 240px;
    overflow-y: auto;
}

.toc-article .toc-close {
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    float: right;
    color: #ccc
}

.toc-article .toc-close:hover {
    color: #000
}

.toc-article .toc {
    font-size: 12px;
    padding: 0;
    line-height: 20px
}

.toc-article .toc .toc-number {
    color: #333
}

.toc-article .toc .toc-text:hover {
    //text-decoration: underline;
    color: #2a6496
}

.toc-article li {
    list-style-type: none
}

.toc-article .toc-level-1 {
    margin: 4px 0
}

.toc-article .toc-child {
}

@-moz-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
    60% {
        opacity: 1;
        -o-transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01)
    }
    100% {
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
    60% {
        opacity: 1;
        -o-transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01)
    }
    100% {
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

@-o-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
    60% {
        opacity: 1;
        -o-transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01)
    }
    100% {
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
    60% {
        opacity: 1;
        -o-transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        transform: scale(1.01)
    }
    100% {
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1)
    }
}

.show-toc-btn {
    display: none;
    z-index: 10;
    width: 14px;
    min-height: 14px;
    overflow: hidden;
    padding: 4px 2px 4px 2px;
    border: 1px solid #ddd;
    border-radius: 14px 0px 0px 14px;
    border-right: none;
    position: fixed;
    right: 1px;
    top: 240px;
    text-align: center;
    background-color: #f9f9f9;
}

.show-toc-btn .btn-bg {
    margin-top: 2px;
    display: block;
    width: 16px;
    height: 14px;
    background: url("../images/show.png") no-repeat;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%
}

.show-toc-btn .btn-text {
    color: #999;
    font-size: 12px
}

.show-toc-btn:hover {
    cursor: pointer
}

.show-toc-btn:hover .btn-bg {
    background-position: 0 -16px
}

.show-toc-btn:hover .btn-text {
    font-size: 12px;
    color: #ea8010
}

.toc-article li ol, .toc-article li ul {
    margin-left: -20px;
}

.toc-article ol, .toc-article ul {
    margin: 5px 0 10px 0;
}

